<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DetailPage</title>

    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>

<h4 th:text="'이름 : '+ ${summonerDetail.name}" />

<br>

<h4 th:text="'summonerId : '+ ${summonerDetail.id}" />


<br>

<th:block th:if="not ${#lists.isEmpty(matchDetailList)}">



    <div th:each="match : ${matchDetailList}">
        <h3 th:text="'게임 ID : '+${match.getGameId()}+' / 챔피언 ID : '+${match.getChampion()}+' / 역할: '+${match.getRole()}+' / 승패: '+${match.getWin()}+' / 킬: '+${match.getKills()}+' / 데스: '+${match.getDeaths()}+' / 어시스트: '+${match.getAssists()}"></h3>
    </div>

</th:block>



<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--custom js 추가-->
<script src="/js/app/main.js"></script>
</body>
</html>